<a href="https://colab.research.google.com/github/im-young/Bigleader_study/blob/main/homwork/2_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
import nltk

In [2]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
# from numpy import dot
# from numpy.linalg import norm
from sklearn.metrics.pairwise import cosine_similarity

In [24]:
df = pd.read_csv('/content/drive/MyDrive/AI 빅리더/NLP/data/winemag-data.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             129971 non-null  int64
 1   country                129908 non-null  object
 2   description            129971 non-null  object
 3   designation            92506 non-null   object
 4   points                 129971 non-null  int64
 5   price                  120975 non-null  float64
 6   province               129908 non-null  object
 7   region_1               108724 non-null  object
 8   region_2               50511 non-null   object
 9   taster_name            103727 non-null  object
 10  taster_twitter_handle  98758 non-null   object
 11  title                  129971 non-null  object
 12  variety                129970 non-null  object
 13  winery                 129971 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 13.9+ MB

Unnamed: 0                   0
country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                 21247
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
dtype: int64

In [25]:
df = df.head(5000) # 데이터 상위 5000개만 사용

In [11]:
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [1]:
df['title'].isnull().sum() # 내가 사용할 title, description null 확인

NameError: ignored

# 데이터 전처리
## 불용어 제거

In [17]:
import nltk # 띄어쓰기 기준 토큰화
from nltk.tokenize import word_tokenize,  sent_tokenize
from nltk.corpus import stopwords

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [26]:
df_d = df['description'] # 불용어 제가할 열만 갖고오기

In [21]:
from tensorflow.keras.preprocessing.text import Tokenizer

In [27]:
df_d.head()

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
Name: description, dtype: object

In [31]:
df_d.info()

<class 'pandas.core.series.Series'>
RangeIndex: 5000 entries, 0 to 4999
Series name: description
Non-Null Count  Dtype
--------------  -----
5000 non-null   object
dtypes: object(1)
memory usage: 39.2+ KB

In [49]:
tfidf = TfidfVectorizer(stop_words='english', min_df = 3) # 불용어 사전 = 영어, 3글자 이하 불용어 처리
tfidf_matrix = tfidf.fit_transform(df_d) # fit_transform으로 만든 토큰에 대한 분석을 하겠다.
print(tfidf_matrix.shape)

(5000, 3392)

In [37]:
# 불용어 사전 안에 있는 값 확인하기
stop_words = tfidf.get_stop_words()
print('is' in stop_words)

True

In [43]:
print(tfidf_matrix[0]) # 0번째 문서 확인

  (0, 246)	0.09665496233994537
  (0, 1041)	0.2030846770966849
  (0, 387)	0.166553018433684
  (0, 6219)	0.22374578988064014
  (0, 1508)	0.14345774414601722
  (0, 474)	0.13955890779405872
  (0, 7695)	0.3618116037567283
  (0, 4972)	0.20265978225574272
  (0, 2693)	0.2566435880940537
  (0, 5071)	0.26349313720552503
  (0, 3849)	0.26349313720552503
  (0, 5131)	0.09400278180208221
  (0, 3533)	0.16335206014207773
  (0, 2333)	0.3138319598632073
  (0, 1033)	0.33339119329926364
  (0, 1059)	0.31044583502953216
  (0, 3095)	0.08592447276497193
  (0, 7536)	0.19128914101194044
  (0, 3712)	0.2481299619268697
  (0, 522)	0.08816722943868481

In [50]:
# 코사인 유사도
cos_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [46]:
cos_sim[0]

array([1.        , 0.01185855, 0.0100552 , ..., 0.00739211, 0.        ,
       0.02650395])

In [ ]:
data = dict(zip(df['title'],df.index)) # 와인이름 + 인덱스
data

In [54]:
i = data['Nicosia 2013 Vulkà Bianco  (Etna)'] # 인덱스 확인
print(i)

0

In [55]:
# 추천 함수 만들기
## 입력한 와인과 비슷한 와인 10개 추천
def  recommend(t,cosine_sim = cos_sim): # t에는 와인 이름 전달
  idx = data[t]
  #print(idx) # 0
  # print(cos_sim[idx])
  sim_scores =list(enumerate(cosine_sim[idx]) ) # 코사인 스코어와 인덱스
  # print(sim_scores)
  ss = sorted(sim_scores, key = lambda x :x[1], reverse=True ) # 점수별 내림차수 정렬
  ss = ss[1:11] # 10개 선정
  # print(ss) # 인덱스
  # print(ss[1:11]) # 코사인 유사도 상위 10
  res = [i[0]for i in ss] # 와인 이름의 인덱스
  # print(res)
  return df.title.iloc[res] # 최종 추천(10개)

In [56]:
recommend('Nicosia 2013 Vulkà Bianco  (Etna)')

[1.         0.01272033 0.01279775 ... 0.00850713 0.         0.03136576]
[2000, 908, 1181, 3414, 1036, 4033, 904, 4053, 3908, 677]

2000    Feudi del Pisciotto 2013 Baglio del Sole Inzol...
908                     Cascina Bruciata 2013  Barbaresco
1181              Bel Colle 2013 Montersino  (Barbaresco)
3414        Lechthaler 2014 Drago Pinot Grigio (Trentino)
1036                  Vivera 2010 Salisire Bianco  (Etna)
4033    Chateau Ste. Michelle 2015 Horse Heaven Vineya...
904                         Boffa 2013 Pajè  (Barbaresco)
4053    Cecilia Beretta 2011 Terre di Cariano Riserva ...
3908                     La Rajade 2014 Friulano (Collio)
677     Baracchi Riccardo 2011 Smeriglio Riserva Syrah...
Name: title, dtype: object